
	body 
  {
		padding:0px;
		margin:0px;
    font-family: 'Open Sans', sans-serif;
    background-color: #9dc9ae;
	}
    
  .bruno_foto {
      text-align: center;
      border-radius: 50%;
  }
   
  .menu {
    display: block;
  }

 header {
      display: block;
      background-color: black;
 }

 p, li {
  font-size: 16px;
  color: #b5ddcf;
}

.skills-title {
  color: #0a7e51;
  font-weight: 600;
  
}

.boxes {
  background-color:dodgerblue;
  width:50%;
  margin: 0 auto;
  border-radius: 5px;
  border: 2px solid;
  box-shadow: 0 0 1em gold;
  line-height: 20px;
  padding: 15px 30px;
}


	.menu ul {
		padding:0px;
		margin:0px;
		width: 100%;
		background-color:#EDEDED;
		list-style:none;
	}


    
 
	.menu ul li { display: inline; }
 
	.menu ul li a {
		background-color:#EDEDED;
		color: #333;
		text-decoration: none;
		border-bottom:3px solid #EDEDED;
		padding: 2px 10px;
	}
    
 
	.menu ul li a:hover {
		background-color:#D6D6D6;
		color: #6D6D6D;
		border-bottom:3px solid #eaac00;

	}

  .menu_header_left {
    /* Fixo à esquerda e topo, ocupando toda altura */
    position: fixed;
    top: 0;
    height: 200vh;
    
    /* Para ficar atrás do texto */ 
    /*z-index: -1;*/
  

    
    
  }

  .menu_header_right {
    /* Fixo à direita e topo, ocupando toda altura */
    position: fixed;
    right: 0;
    top: 0;
    height: 200vh;
    
    /* Para ficar atrás do texto */ 
    /*z-index: -1;*/
    
    
  }

    